In [5]:
import pandas as pd
import calendar
import numpy as np
import datetime
from numpy import random
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
dtype_housing = {'Serial Number': int,
    'List Year': int,
    'Date Recorded': str,
    'Town': str,
    'Address': str,
    'Assessed Value': float,
    'Sale Amount': float,
    'Sales Ratio': float,
    'Property Type': str,
    'Residential Type': str,
    'Non Use Code': str,
    'Assessor Remarks': str,
    'OPM remarks': str,
    'Location': str}

In [12]:
# importing all datasets
housing_df = pd.read_csv('House Prices 2001-2020 in CT.csv', dtype=dtype_housing)
ctdot_df = pd.read_csv('CTDOT_State_Routes_and_Local_Roads.csv')
house_size_df = pd.read_csv('CT house sizes_sold_2001_2020.csv')

In [25]:
# understanding the datasets
housing_df.head()

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,2020177,2020,4/14/2021,Ansonia,323 BEAVER ST,133000.0,248400.0,0.5354,Residential,Single Family,NaN,NaN,NaN,POINT (-73.06822 41.35014)
1,2020225,2020,5/26/2021,Ansonia,152 JACKSON ST,110500.0,239900.0,0.4606,Residential,Three Family,NaN,NaN,NaN,NaN
2,2020348,2020,9/13/2021,Ansonia,230 WAKELEE AVE,150500.0,325000.0,0.4630,Commercial,NaN,NaN,NaN,NaN,NaN
3,2020090,2020,12/14/2020,Ansonia,57 PLATT ST,127400.0,202500.0,0.6291,Residential,Two Family,NaN,NaN,NaN,NaN
4,200500,2020,9/7/2021,Avon,245 NEW ROAD,217640.0,400000.0,0.5441,Residential,Single Family,NaN,NaN,NaN,NaN

In [16]:
ctdot_df.head()

,OBJECTID,ROUTE_ID,BEGIN_POINT,END_POINT,ROUTE_DIR,ROUTE_PREFIX,ROUTE_NUMBER,ROUTE_SUFFIX,RAMP_NUMBER,RAMP_SUFFIX,ROAD_TYPE,TOWN_NUMBER,TOWN_NAME,PRI_SEC_STATUS,YEAR,GlobalID,Shape__Length
0,43017,15-S,52.11,56.54,R,CT,15,NaN,NaN,NaN,M,100,NORTH HAVEN,PRI,2022,ce50219e-84e5-4a55-a852-02442a8069b3,23376.295420
1,43018,154-N,7.10,9.43,L,CT,154,NaN,NaN,NaN,M,105,OLD SAYBROOK,PRI,2022,fac1e696-ee08-40f7-a872-ec3eb074d35f,12310.306110
2,43019,154-S,11.78,11.94,R,CT,154,NaN,NaN,NaN,M,49,ESSEX,PRI,2022,086a01b8-8e3c-4cbe-bb6b-f6f309e555ac,706.935452
3,43020,155-E,0.00,2.22,L,CT,155,NaN,NaN,NaN,M,82,MIDDLETOWN,PRI,2022,429c35dd-e6fb-45a5-86b5-6a92eadbcf24,11757.200000
4,43021,165L-W,0.00,0.05,L,SP,165,L,NaN,NaN,M,97,NORFOLK,PRI,2022,ebc85281-9a32-4dc6-b136-9a54b17cc1b8,276.716921

In [17]:
house_size_df.head()

,status,bed,bath,acre_lot,city,state,zip_code,house_size,prev_sold_date,price
0,for_sale,1.0,1.0,NaN,Willington,Connecticut,6279,680,8/16/2019,65000
1,for_sale,2.0,1.0,0.91,East Windsor,Connecticut,6016,960,6/6/2012,215000
2,for_sale,2.0,1.0,0.36,Vernon,Connecticut,6066,860,9/2/2016,144900
3,for_sale,2.0,2.0,NaN,South Windsor,Connecticut,6074,1168,12/28/2020,172500
4,for_sale,3.0,3.0,0.92,Ellington,Connecticut,6029,1960,6/28/2010,349900

In [23]:
housing_df.shape

(997213, 14)

In [22]:
ctdot_df.shape

(4338, 17)

In [24]:
house_size_df.shape

(43121, 10)

In [32]:
housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 997213 entries, 0 to 997212
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Serial Number     997213 non-null  int32
 1   List Year         997213 non-null  int32
 2   Date Recorded     997211 non-null  object
 3   Town              997213 non-null  object
 4   Address           997162 non-null  object
 5   Assessed Value    997213 non-null  float64
 6   Sale Amount       997213 non-null  float64
 7   Sales Ratio       997213 non-null  float64
 8   Property Type     614767 non-null  object
 9   Residential Type  608904 non-null  object
 10  Non Use Code      289681 non-null  object
 11  Assessor Remarks  149864 non-null  object
 12  OPM remarks       9934 non-null    object
 13  Location          197697 non-null  object
dtypes: float64(3), int32(2), object(9)
memory usage: 98.9+ MB

In [33]:
ctdot_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4338 entries, 0 to 4337
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OBJECTID        4338 non-null   int64
 1   ROUTE_ID        4338 non-null   object
 2   BEGIN_POINT     4338 non-null   float64
 3   END_POINT       4338 non-null   float64
 4   ROUTE_DIR       4338 non-null   object
 5   ROUTE_PREFIX    4338 non-null   object
 6   ROUTE_NUMBER    4338 non-null   object
 7   ROUTE_SUFFIX    601 non-null    object
 8   RAMP_NUMBER     1919 non-null   float64
 9   RAMP_SUFFIX     267 non-null    object
 10  ROAD_TYPE       4338 non-null   object
 11  TOWN_NUMBER     4338 non-null   int64
 12  TOWN_NAME       4338 non-null   object
 13  PRI_SEC_STATUS  4338 non-null   object
 14  YEAR            4338 non-null   int64
 15  GlobalID        4338 non-null   object
 16  Shape__Length   4338 non-null   float64
dtypes: float64(4), int64(3), object(10)
memory usage: 576.3+ KB

In [34]:
house_size_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43121 entries, 0 to 43120
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status          43121 non-null  object
 1   bed             42499 non-null  float64
 2   bath            42465 non-null  float64
 3   acre_lot        36590 non-null  float64
 4   city            43121 non-null  object
 5   state           43121 non-null  object
 6   zip_code        43121 non-null  int64
 7   house_size      43121 non-null  int64
 8   prev_sold_date  43121 non-null  object
 9   price           43121 non-null  int64
dtypes: float64(3), int64(3), object(4)
memory usage: 3.3+ MB

In [35]:
# missing values in the datasets
housing_df.isnull().sum()

Serial Number            0
List Year                0
Date Recorded            2
Town                     0
Address                 51
Assessed Value           0
Sale Amount              0
Sales Ratio              0
Property Type       382446
Residential Type    388309
Non Use Code        707532
Assessor Remarks    847349
OPM remarks         987279
Location            799516
dtype: int64

In [36]:
ctdot_df.isnull().sum()

OBJECTID             0
ROUTE_ID             0
BEGIN_POINT          0
END_POINT            0
ROUTE_DIR            0
ROUTE_PREFIX         0
ROUTE_NUMBER         0
ROUTE_SUFFIX      3737
RAMP_NUMBER       2419
RAMP_SUFFIX       4071
ROAD_TYPE            0
TOWN_NUMBER          0
TOWN_NAME            0
PRI_SEC_STATUS       0
YEAR                 0
GlobalID             0
Shape__Length        0
dtype: int64

In [31]:
house_size_df.isnull().sum()

status               0
bed                622
bath               656
acre_lot          6531
city                 0
state                0
zip_code             0
house_size           0
prev_sold_date       0
price                0
dtype: int64